// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

// Custom styling for canvas of processing projects
// Center the canvas
canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
